html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.desktop {
  font-size: 16px;
  font-weight: bold;
  color: white;
}
.mobile {
  font-size: 13px;
  padding: 0;
  margin: 0;
  color: white;
  line-height: 1.4;
  font-weight: bold;
}

.root {
  width: 380;
  margin: 2px;
}
.paper {
  height: 260px;
}
.control {
  padding: 2px;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/envato-4966945_1920.jpg);
  background-size: cover;
  min-height: 700px;
}
.container {
  padding: 0
}
.card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1px;
}
.mainCaption {
  padding: 1px
}
.mainCard {
  box-shadow: none;
  background-color: transparent;
  width: 600px;
}
.mainCardMobile {
  width: 450;
  opacity: .7;
}
.icon {
  display: flex;
  justify-content: space-between;
}